version: '3'

services:
  megacoind:
    build:
      context: ./docker-megacoind
      dockerfile: ./Dockerfile.megacoind
    image: megacoind
    container_name: megacoind
    command:
      -whitebind=172.21.0.10:7951
      -whitelist=172.21.0.0/24
      -whitelist=127.0.0.1
      -txindex=1
      -maxconnections=100
      -rpcbind=172.21.0.10
      -rpcallowip=172.21.0.0/24
      -rpcallowip=127.0.0.1
      -port=7951
      -rpcport=7952
      -rpcuser=mec 
      -rpcpassword=mec
    restart: always
    networks:
      electrum-net:
        ipv4_address: 172.21.0.10
    ports:
      - 7951:7951 
    expose:
      - 7951
      - 7952 
    volumes:
      - /home/megacoin:/data

  electrum-server:
    build:
      context: ./docker-electrum-server
      dockerfile: ./Dockerfile.electrum-server
    image: electrum-server 
    container_name: electrum-server
    restart: always
    networks:
      electrum-net:
        ipv4_address: 172.21.0.13
    ports:
      - 50001:50001
      - 50002:50002
    expose:
      - 8000 #electrum_rpc_port
      - 50001 #stratum_tcp_port
      - 50002 #stratum_tcp_ssl_port
   #environment:
      #- "BITCORE_CONFIG_PATH=/megacoin/megacoin.config.json"
    depends_on:
      - megacoind

networks:
  electrum-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.21.0.0/24
